In [36]:
import numpy as np 
import pandas as pd

file_path1 = 'Batting.csv'
file_path2 = 'FanGraphsAll.csv'

batting = pd.read_csv(file_path1)
fangraphs = pd.read_csv(file_path2)

In [40]:
batting = batting.dropna()
batting = batting.loc[(batting['AB'] > 0) & (batting['yearID']==2018) ]
#list(batting)
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
104326,abreujo02,2018,1,CHA,AL,128,499,68,132,36,...,78.0,2.0,0.0,37,109.0,7.0,11.0,0.0,6.0,14.0
104327,acunaro01,2018,1,ATL,NL,111,433,78,127,26,...,64.0,16.0,5.0,45,123.0,2.0,6.0,0.0,3.0,4.0
104328,adamewi01,2018,1,TBA,AL,85,288,43,80,7,...,34.0,6.0,5.0,31,95.0,3.0,1.0,1.0,2.0,6.0
104332,adamsla01,2018,1,ATL,NL,26,25,10,6,1,...,6.0,1.0,0.0,4,8.0,0.0,0.0,0.0,0.0,1.0
104333,adamsma01,2018,1,WAS,NL,94,249,37,64,9,...,48.0,0.0,0.0,24,55.0,2.0,4.0,0.0,0.0,6.0

In [49]:
list(fangraphs)
#fangraphs.head()

['Name',
 'Team',
 'G',
 'PA',
 'HR',
 'R',
 'RBI',
 'SB',
 'BB%',
 'K%',
 'ISO',
 'BABIP',
 'AVG',
 'OBP',
 'SLG',
 'wOBA',
 'wRC+',
 'BsR',
 'Off',
 'Def',
 'WAR',
 'playerid']

In [42]:
result = pd.merge(batting, 
                 fangraphs,
                 on=['G','HR','RBI'],how='inner')
result.head()
#list(result)

,playerID,yearID,stint,teamID,lgID,G,AB,R_x,H,2B,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,abreujo02,2018,1,CHA,AL,128,499,68,132,36,...,0.265,0.325,0.473,0.337,114.0,-1.5,8.0,-14.7,1.2,15676
1,acunaro01,2018,1,ATL,NL,111,433,78,127,26,...,0.293,0.366,0.552,0.388,143.0,2.8,28.4,-7.8,3.7,18401
2,adamewi01,2018,1,TBA,AL,85,288,43,80,7,...,0.278,0.348,0.406,0.328,109.0,1.0,4.6,-2.3,1.3,15986
3,adamsla01,2018,1,ATL,NL,26,25,10,6,1,...,0.240,0.345,0.520,0.369,131.0,0.7,1.8,0.4,0.3,10767
4,adducji02,2018,1,DET,AL,59,176,19,47,8,...,0.267,0.290,0.386,0.291,81.0,1.1,-3.0,-7.5,-0.4,6448

# League Average wOBA and wOBA Scale

In [46]:
lgwOBA = 0.315
wOBAScale = 1.226
# https://www.fangraphs.com/guts.aspx?type=cn

# Our Formula for WAR

wRAA = ((wOBA â€“ lgwOBA)/wOBA Scale) * PA

# First Base

In [59]:
file_path1B = 'FanGraphs1stBase.csv'
FirstBase = pd.read_csv(file_path1B)
FirstBase['OWAR'] = (FirstBase['wOBA']-lgwOBA)/(wOBAScale)*FirstBase['PA']
FirstBase = FirstBase[['Name','Team','OWAR']]
FirstBase = FirstBase.sort_values(['OWAR'],ascending=False)
FirstBase.head(20)

                Name          Team       OWAR
2   Paul Goldschmidt  Diamondbacks  42.210440
0    Freddie Freeman        Braves  36.330343
1          Max Muncy       Dodgers  36.094617
3     Matt Carpenter     Cardinals  33.132137
5         Joey Votto          Reds  27.948613
7      Jesus Aguilar       Brewers  27.238173
8      Anthony Rizzo          Cubs  23.866232
9      Jose Martinez     Cardinals  19.730832
13         Luke Voit         - - -  17.334421
15      Justin Smoak     Blue Jays  16.473083
4     Cody Bellinger       Dodgers  15.464927
10         C.J. Cron          Rays  14.616639
16      Steve Pearce         - - -  13.716966
6         Matt Olson     Athletics  13.458401
17       Tyler White        Astros  11.985318
27      Ryan O'Hearn        Royals  11.508972
12      David Freese         - - -  10.688418
25         Josh Bell       Pirates   9.986134
14    Carlos Santana      Phillies   9.969005
19        Jose Abreu     White Sox   9.923328

# Catcher

In [60]:
file_pathC = 'FanGraphsCatchers.csv'
Catcher = pd.read_csv(file_pathC)
Catcher['OWAR'] = (Catcher['wOBA']-lgwOBA)/(wOBAScale)*Catcher['PA']
Catcher = Catcher[['Name','Team','OWAR']]
Catcher = Catcher.sort_values(['OWAR'],ascending=False)
Catcher.head(20)

                  Name       Team       OWAR
1        J.T. Realmuto    Marlins  16.458401
0      Yasmani Grandal    Dodgers  15.632953
11        Wilson Ramos      - - -  15.608483
4   Francisco Cervelli    Pirates  13.181077
20        Omar Narvaez  White Sox   8.667210
21         Kurt Suzuki     Braves   6.329527
65   Robinson Chirinos    Rangers   6.254486
13          Elias Diaz    Pirates   5.648450
29  Willians Astudillo      Twins   5.063622
33         Curt Casali       Reds   4.071778
7         Buster Posey     Giants   4.019576
6            Yan Gomes    Indians   3.902936
8        Yadier Molina  Cardinals   3.282219
45        Mitch Garver      Twins   2.732463
24   Willson Contreras       Cubs   2.662316
25        Danny Jansen  Blue Jays   1.937194
39       Reese McGuire  Blue Jays   1.884176
78          A.J. Ellis     Padres   1.492659
31      Chris Iannetta    Rockies   1.468189
40       Aramis Garcia     Giants   1.378467

# Second Base

In [61]:
file_path2B = 'FanGraphs2ndBase.csv'
SecondBase = pd.read_csv(file_path2B)
SecondBase['OWAR'] = (SecondBase['wOBA']-lgwOBA)/(wOBAScale)*SecondBase['PA']
SecondBase = SecondBase[['Name','Team','OWAR']]
SecondBase = SecondBase.sort_values(['OWAR'],ascending=False)
SecondBase.head(20)

                Name          Team       OWAR
0        Javier Baez          Cubs  26.831158
4    Scooter Gennett          Reds  24.458401
3        Jose Altuve        Astros  23.451876
1    Whit Merrifield        Royals  19.606852
2         Jed Lowrie     Athletics  17.748777
7        Ben Zobrist          Cubs  16.965742
8      Robinson Cano      Mariners  13.908646
23    Gleyber Torres       Yankees  13.422512
14  Daniel Robertson          Rays  10.815661
10       Jeff McNeil          Mets  10.721044
6        Joey Wendle          Rays  10.224307
25   Daniel Descalso  Diamondbacks   8.970636
11  Asdrubal Cabrera         - - -   8.208809
24      Adam Frazier       Pirates   8.039152
13       Ketel Marte  Diamondbacks   7.096248
26        Brock Holt       Red Sox   6.884992
29     Daniel Murphy         - - -   6.584829
5       Ozzie Albies        Braves   5.021207
12      Rougned Odor       Rangers   4.363785
37    Howie Kendrick     Nationals   3.523654

# Third Base

In [62]:
file_path3B = 'FanGraphs3B.csv'
ThirdBase = pd.read_csv(file_path3B)
ThirdBase['OWAR'] = (ThirdBase['wOBA']-lgwOBA)/(wOBAScale)*ThirdBase['PA']
ThirdBase = ThirdBase[['Name','Team','OWAR']]
ThirdBase = ThirdBase.sort_values(['OWAR'],ascending=False)
ThirdBase.head(20)

                Name          Team       OWAR
1       Alex Bregman        Astros  46.578303
0       Jose Ramirez       Indians  43.269168
4      Nolan Arenado       Rockies  41.719413
5          Max Muncy       Dodgers  36.094617
6     Matt Carpenter     Cardinals  33.132137
3     Anthony Rendon     Nationals  33.112561
8     Eugenio Suarez          Reds  30.151713
7      Justin Turner       Dodgers  28.145188
2       Matt Chapman     Athletics  27.132137
14    Miguel Andujar       Yankees  22.737357
9        Travis Shaw       Brewers  17.236542
18       Kris Bryant          Cubs  16.401305
10   Eduardo Escobar         - - -  15.955139
12     Johan Camargo        Braves  13.249592
13  Jurickson Profar       Rangers  12.597064
19      David Freese         - - -  10.688418
11    Brian Anderson       Marlins   9.836868
24   Daniel Descalso  Diamondbacks   8.970636
16    Mike Moustakas         - - -   7.251223
27       Jedd Gyorko     Cardinals   5.902121

# Short Stop

In [63]:
file_pathSS = 'FanGraphsSS.csv'
ShortStop = pd.read_csv(file_pathSS)
ShortStop['OWAR'] = (ShortStop['wOBA']-lgwOBA)/(wOBAScale)*ShortStop['PA']
ShortStop = ShortStop[['Name','Team','OWAR']]
ShortStop = ShortStop.sort_values(['OWAR'],ascending=False)
ShortStop.head(20)

                 Name       Team       OWAR
4        Trevor Story    Rockies  36.920065
1       Manny Machado      - - -  35.854812
0    Francisco Lindor    Indians  32.206362
5     Xander Bogaerts    Red Sox  27.438825
3         Javier Baez       Cubs  26.831158
7      Didi Gregorius    Yankees  16.243883
12   Jurickson Profar    Rangers  12.597064
16   Daniel Robertson       Rays  10.815661
11       Chris Taylor    Dodgers   9.853181
6         Trea Turner  Nationals   9.657423
8         Jean Segura   Mariners   6.185971
13  Adalberto Mondesi     Royals   6.171289
26      Jorge Polanco      Twins   5.703915
2   Andrelton Simmons     Angels   5.383361
25       Willy Adames       Rays   3.424959
50        Yairo Munoz  Cardinals   2.951876
10        Paul DeJong  Cardinals   2.398042
14        Jose Peraza       Reds   2.228385
22       Aledmys Diaz  Blue Jays   2.212072
39    Garrett Hampson    Rockies   1.566069

# Outfield

In [64]:
file_pathOF = 'FanGraphsOF.csv'
Outfield = pd.read_csv(file_pathOF)
Outfield['OWAR'] = (Outfield['wOBA']-lgwOBA)/(wOBAScale)*Outfield['PA']
Outfield = Outfield[['Name','Team','OWAR']]
Outfield = Outfield.sort_values(['OWAR'],ascending=False)
Outfield.head(20)

                    Name          Team       OWAR
0           Mookie Betts       Red Sox  67.109299
1             Mike Trout        Angels  65.461664
3          J.D. Martinez       Red Sox  59.288744
2       Christian Yelich       Brewers  56.816476
20          Bryce Harper     Nationals  34.579935
14             Juan Soto     Nationals  31.026101
5            Aaron Judge       Yankees  30.871126
8          Brandon Nimmo          Mets  30.546493
36      Charlie Blackmon       Rockies  30.088091
13      Ronald Acuna Jr.        Braves  28.997553
7          Mitch Haniger      Mariners  28.969005
28  Nicholas Castellanos        Tigers  26.544861
12         David Peralta  Diamondbacks  26.543230
10     Giancarlo Stanton       Yankees  25.876835
33          Rhys Hoskins      Phillies  25.840131
19      Michael Brantley       Indians  22.646003
9      Andrew Benintendi       Red Sox  22.644372
4           Lorenzo Cain       Brewers  22.251223
47         Shin-Soo Choo       Rangers  21.696574
6            Aaron Hicks       Yankees  21.325449

# Starting Pitchers

In [34]:
file_pathPitching = 'Pitching.csv'
file_pathSP = 'FanGraphsSP.csv'
StartingPitching = pd.read_csv(file_pathSP)
StartingPitching.head()

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,LOB%,GB%,HR/FB,ERA,FIP,xFIP,WAR,playerid
0,Jacob deGrom,Mets,10,9,0,32,32,217.0,11.16,1.91,0.41,0.281,82.0 %,46.4 %,6.3 %,1.70,1.99,2.60,8.5,10954
1,Max Scherzer,Nationals,18,7,0,33,33,220.2,12.24,2.08,0.94,0.265,81.3 %,34.3 %,9.7 %,2.53,2.65,3.06,7.1,3137
2,Justin Verlander,Astros,16,9,0,34,34,214.0,12.20,1.56,1.18,0.272,85.3 %,29.1 %,11.1 %,2.52,2.78,3.03,6.9,8700
3,Chris Sale,Red Sox,12,4,0,27,27,158.0,13.50,1.94,0.63,0.283,82.5 %,44.2 %,9.3 %,2.11,1.98,2.31,6.8,10603
4,Patrick Corbin,Diamondbacks,11,7,0,33,33,200.0,11.07,2.16,0.68,0.302,74.7 %,48.5 %,11.1 %,3.15,2.47,2.61,6.6,9323

# Relief Pitchers

In [35]:
file_pathRP = 'FanGraphsRelievers.csv'
Relievers = pd.read_csv(file_pathRP)
Relievers.head()

,Name,Team,W,L,SV,G,GS,IP,K/9,BB/9,HR/9,BABIP,LOB%,GB%,HR/FB,ERA,FIP,xFIP,WAR,playerid
0,Edwin Diaz,Mariners,0,4,57,73,0,73.1,15.22,2.09,0.61,0.281,82.5 %,44.4 %,10.6 %,1.96,1.61,1.78,3.6,14710
1,Blake Treinen,Athletics,9,2,38,68,0,80.1,11.20,2.35,0.22,0.230,85.9 %,51.9 %,4.4 %,0.78,1.82,2.42,3.5,12572
2,Josh Hader,Brewers,6,1,12,55,0,81.1,15.82,3.32,1.00,0.220,80.9 %,28.9 %,14.5 %,2.43,2.23,2.05,2.8,14212
3,Jose Leclerc,Rangers,2,3,12,59,0,57.2,13.27,3.90,0.16,0.211,71.2 %,32.1 %,2.0 %,1.56,1.90,3.10,2.4,14524
4,Craig Stammen,Padres,8,3,0,73,0,79.0,10.03,1.94,0.34,0.301,74.3 %,49.3 %,4.9 %,2.73,2.19,2.97,2.3,7274